
{{> head }}

    {{> navbar }}

    <div class="row">
        <!-- Crear dos columnas -->
        <div class="col-8">
            <h1>Pikachu</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo quos animi impedit odit qui repellat doloribus earum eaque! Reiciendis consectetur vero dolor amet. Praesentium inventore dolorum laudantium minima esse reiciendis.</p>
        </div>
        <div class="col-4">
            <img src="/assets/img/Pikachu.png" class="img-thumbnail">
        </div>

    </div>

{{> footer}}